*{
	margin: 0;
	padding: 0;
	border: 0;
}

body{
	background-image: url('bgr.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-color: #001a00;
}

.box{
	width: 300px;
	height: auto;
	border: 2px solid white;
	margin: 10% auto;
	border-radius: 10px;
	background-color: rgba(255,255,255,0.2);
	box-shadow: 1px 1px #000;	
}

.box h2{
	font-family: arial;	
	font-size: 40px;
	text-align: center;
	color: #fff;
	margin-top: 10%;
	margin-bottom:8%;
	letter-spacing: -2px; 
	text-shadow: 1px 1px #000;
}

.box input{
	height:50px;
	width: 250px;
	margin: 2% 7%;
	border: 1px solid rgba(0,0,0,0.2);
	background-color: rgba(0,0,0,0.3);
	border-radius: 5px;
	padding-left: 5px;
	color: white;
	
}

input::placeholder{
	
	font-size:15px;
	color: white;
}
button {
	width: 257px;
	height: 50px;
	background-color: rgba(0, 0, 0, 0.8);
	color: #fff;
	margin: 2% 7% 10%;
	border-radius: 5px;
	font-size:15px;
}

button:hover{
	background-color: rgba(0, 0, 0, 1);
	transition: 0.5s;
}